<div >
  <header>
    <mat-toolbar md-scroll-shrink>
      <div layout="row" layout-align="center center" flex>
        TODO List
      </div>
    </mat-toolbar>
  </header>
  <div>
      <mat-tab-group>
          <mat-tab label="All">
                <mat-list class="form-div" *ngFor="let todo of todosList">
                  <mat-checkbox [checked]="todo.isCompleted" (change) = "statusChanged($event,todo)"></mat-checkbox>
                  {{todo.data}} 
                  <button mat-icon-button (click)="deleteToDo(todo)">
                      <mat-icon>delete</mat-icon>
                  </button>
                </mat-list>
          </mat-tab>
          <mat-tab label="Pending">
              <mat-list class="form-div" *ngFor="let todo of todosList | toDo:false">
                  <mat-checkbox [checked]="todo.isCompleted" (change) = "statusChanged($event,todo)"></mat-checkbox>
                  {{todo.data}} 
                  <button mat-icon-button (click)="deleteToDo(todo)">
                      <mat-icon>delete</mat-icon>
                  </button>
                </mat-list>
              
          </mat-tab>
          <mat-tab label="Completed">
             <mat-list class="form-div" *ngFor="let todo of todosList | toDo:true">
                  <mat-checkbox [checked]="todo.isCompleted" (change) = "statusChanged($event,todo)"></mat-checkbox>
                  {{todo.data}} 
                  <button mat-icon-button (click)="deleteToDo(todo)">
                      <mat-icon>delete</mat-icon>
                  </button>
                </mat-list>
          </mat-tab>
          <mat-tab label="Add New">
            <div class="form-div">
              <form (ngSubmit)="onSubmit()" >
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="ToDO" width="100%"
                    class="form-control" [(ngModel)]="todoModel.data"   name="data"
                     required >
                  </mat-form-field>
                  
                  <div>
                    <button mat-button >Add ToDo</button>
                  </div>
                </form>
            </div>
          </mat-tab>
      </mat-tab-group>
  
  </div>
</div>